/* estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white height 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 10px;
    font-weight: 600;
    background-color: aqua;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: black;
    font-size: 38px;

}

h2.titulo span {
    color: #00ffff
}

button:hover {
    box-shadow: 0px 0px 8px #00ffff;
    transform: scale(1.05);
}

/* estilo do cabeçalho */
header {
    padding: 40px;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover {
    color: rgb(1, 17, 17);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section .topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #5c5c5c
}

.topo-do-site .txt-topo-site p {
    color: black
}

.img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.especialidades .especialidades-box {
    color: black;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #00ffff;
}


.especialidades .especialidades-box i {
    font-size: 70px;
    color: black;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 80px;
}

.sobre .txt-sobre {
    color: black;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;


}

.sobre .txt-sobre h2 span {
    color: #00ffff;
    display: block;

}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ffff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

@media screen and (max-widht: 1020px) {

    /* GERAL */
    .flex {
        flex-direction: column-reverse;
    }
    h2.titulo {
        font-size: 38px;
        line-height: 34px;
    
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */
    section.topo-do-site .flex {
        gap: 40px;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    section .topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESTILO DAS ESPECIALIDADES */
    section.especialidades {
        padding: 40px 8%;
    }
    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }
    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }
    
}